<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blomsterbinderiet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blomsterbinderiet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Blomsterbinderiet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        @* footer *@
        <div class="container">
            @*  *@
            <div class="row mt-5">
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>Åbningstider</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mandag</td>
                                <td>7-18</td>
                            </tr>
                            <tr>
                                <td>Tirsdag</td>
                                <td>7-18</td>
                            </tr>
                            <tr>
                                <td>Onsdag</td>
                                <td>7-18</td>
                            </tr>
                            <tr>
                                <td>Torsdag</td>
                                <td>7-18</td>
                            </tr>
                            <tr>
                                <td>Fredag</td>
                                <td>7-18</td>
                            </tr>
                            <tr>
                                <td>Lørdag</td>
                                <td>7-18</td>
                            </tr>
                            <tr>
                                <td>Søndag</td>
                                <td>7-18</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    

                </div>
                <div class="col">
                    <a asp-page="/Static/About">Om os</a> <br />
                    <a asp-page="/Static/History">Historie</a>
                    <p></p>
                    <p>
                        <b>Adresse</b> - Gågaden 7, 4000 Rosilde<br />
                        <b>Telefon</b> - 12345678<br />
                        <b>E-mail</b> - Blomster@binderiet.org
                    </p>
                </div>
                <div class="col">
                    <a asp-page="/Static/FAQ">Ofte stillede spørgsmål</a> <br />
                    <a asp-page="/Static/TermsOfService">Handelsbetingelser</a> <br />
                    <a>Facebook</a> <br />
                    <a>Instagram</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>