@page
@model Blomsterbinderiet.Pages.Basket.ConfirmationModel
@{
    ViewData["Title"] = "Ordre succes";
}

<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Tak for din ordre!</h1>
            <p>Din ordreforespørgsel vil blive behandlet af en af vores medarbejdere hurtigst muligt. </p>
            <p>Du vil modtage en ordrebekræftelse på mail når din ordre er bekræftet. </p>
            <p>Vær opmærksom på at din ordre kan blive afvist. I tilfældet af at din ordre er blevet afvist vil du modtage en mail herom.  </p>
            <p>Du kan se din ordre samt evt. tidligere ordrer her: <a class="btn btn-primary" id="btnyellow" asp-area="" asp-page="/UserPages/MyOrders">Mine ordrer</a> </p>
            
        </div>
    </div> 
 </div>
