@page
@model Blomsterbinderiet.Pages.Admin.CreateUserSuccessModel
@{
}

<h1 class="text-center">Oprettelse af bruger succesfuldt !</h1>
<div class="text-center p-3">
    <a><img class="col-2" src="https://cdn-icons-png.flaticon.com/512/1538/1538471.png" /></a>
</div>