@page
@model Blomsterbinderiet.Pages.Admin.GetAllKeywordsModel
@{
}

<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Alle nøgleord</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="test">
                        <table class="table text-muted table-hover" width="60%">
                            <thead>
                                <tr class="btn-secondary table-success active">
                                    <th>Navn</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var keyword in Model.Keywords)
                                {
                                    <tr class="btn-secondary table-warning">
                                        <td>
                                            @keyword.Name
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" type="button" title="Opdater" asp-page="UpdateKeyword" asp-route-id="@keyword.ID"><i class="fa fa-pencil-square-o"></i></a>
                                            <a class="btn btn-danger btn-sm " type="button" title="Slet" asp-page="DeleteKeyword" asp-route-id="@keyword.ID"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <a asp-page="CreateKeyword" class="btn btn-primary mb-2" id="btnyellow">Opret nøgleord</a>
            </div>
        </div>
    </div>
</div>