@page
@model Blomsterbinderiet.Pages.Product.WeddingModel
@{
}

<div class="center-content m-5">
    <h1>Et eventyrligt bryllup</h1>
    <div class="pb-4">
        Hos Blomsterbinderiet sætter vi en ære i at skræddersy et bryllup perfekt til det kommende brudepar.<br />
        Derfor kan du heller ikke købe brudebuketter og lignende på vores hjemmeside. <br />
        Vi tilbyder brudebuketter, brudepigebuketter, brystbuketter, pynt til brudebilen og dekorationer til både vielse og fest.<br />
        Kom ned i butikken eller ring til os, så finder vi den helt rigtige løsning til lige jeres bryllup.
    </div>
    <div>
        <img src="/images/collage.png" />
    </div>
</div>