@page
@model Blomsterbinderiet.Pages.Product.WeddingModel
@{
}
<h1>Et eventyrligt bryllup</h1>
<div>
    Hos Blomsterbinderiet sætter vi en ære i at skræddersy et bryllup perfekt til det kommende brudepar.<br />
    Derfor kan du heller ikke købe brudebuketter og lignende på vores hjemmeside. Kom ned i butikken eller ring til os.<br />
    Så finder vi den helt rigtige løsning til lige jeres bryllup.

</div>
<div class="align-content-center d-flex">
    <img src="/images/collage.png"/>
</div>
