@page
@model Blomsterbinderiet.Pages.Customer.ProfilePageModel
@{
    ViewData["Title"] = "Profiloplysninger";
}

<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Profiloplysninger</h1>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Navn</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Telefon</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Phone
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Adresse</h6>
                    </div>
                    <div class="col-sm-9" id="textcolor">
                        @Model.User.Address
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary" id="btnyellow" asp-page="/UserPages/UpdateUser">Opdater profil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>