@page
@model Blomsterbinderiet.Pages.Static.AboutModel
@{
}
<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Om os</h1>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere id elit vel viverra. Mauris congue velit ac elit vulputate, et rhoncus arcu cursus. Ut volutpat vitae tortor sed eleifend. In et fringilla ex. Vestibulum at mauris id augue iaculis interdum a nec justo. Aliquam suscipit lacinia elit nec dictum. Curabitur nisi mauris, vehicula at egestas a, convallis quis justo. Praesent molestie vitae nibh in convallis. Vestibulum a feugiat libero, sit amet pretium orci. Donec metus metus, porta nec metus ac, laoreet convallis purus. Phasellus in lacus vitae leo sodales sodales.

            Suspendisse vulputate mauris a arcu pulvinar, nec fringilla diam tristique. Fusce pretium dolor nec auctor fringilla. Aliquam velit dui, tristique non tortor vel, cursus efficitur nunc. Aliquam tempus consequat ornare. Quisque euismod ullamcorper posuere. Donec nibh magna, sollicitudin ut justo ut, elementum dapibus ante. Fusce eleifend tellus non aliquam mattis. Sed vehicula purus lectus, ac tempor sapien feugiat vel. Etiam tristique nec mi viverra consectetur. Donec suscipit euismod blandit. Curabitur consequat tellus at sapien elementum, sit amet gravida diam cursus. Cras in quam velit. Pellentesque eu neque ac nisl posuere porta ac sed lectus. Fusce posuere eros vitae pellentesque hendrerit. Phasellus ac efficitur nisl, sed ultricies ante.

            Nam ut lacinia massa. Pellentesque lacinia tempor mi quis rhoncus. Cras ac ornare sem. Donec porttitor lacus venenatis egestas gravida. Pellentesque posuere ligula et lacus consequat, non maximus ex gravida. Vestibulum lobortis magna nisi, sit amet porta sem aliquam vel. Praesent non blandit ligula. Nam ut erat turpis. Suspendisse mollis erat non sem molestie eleifend. Donec at luctus velit. Donec malesuada mi ut arcu bibendum pharetra. Nullam volutpat id nulla vel placerat. Praesent dapibus diam lorem.

            In vitae malesuada ante. Quisque mi felis, mattis eget sem in, varius congue felis. Nam eget erat volutpat, egestas velit euismod, faucibus risus. Aenean mattis sollicitudin nisi, sed facilisis massa lobortis ac. Morbi eros tortor, lobortis vel velit quis, commodo porttitor purus. Sed vulputate vestibulum ipsum a dapibus. Curabitur varius justo et leo hendrerit pellentesque. Mauris ultricies orci et sapien rhoncus accumsan. Donec maximus laoreet quam ut iaculis. Donec gravida, erat a laoreet volutpat, nulla leo lacinia odio, et posuere risus augue et nisl.

            Nulla lorem augue, placerat eget eros nec, vulputate laoreet enim. Donec ipsum sapien, elementum eu tempus eget, dictum sed ligula. Nam aliquam eros eu sapien sodales tempor. Ut auctor metus ut magna scelerisque dignissim. In hac habitasse platea dictumst. Curabitur vel finibus dolor, sed mollis neque. Nullam nec nisi ante. Vivamus pulvinar congue nisi, eget accumsan sapien vestibulum sit amet. Curabitur pharetra vitae orci vitae interdum. Nulla et porttitor odio, mollis venenatis purus. Integer hendrerit vel tellus sed semper. Duis nec ipsum et ante vestibulum auctor. Ut vel leo orci. Praesent at orci id eros efficitur euismod et sit amet magna.

            Duis maximus scelerisque libero, a ornare odio cursus id. Sed tempor maximus massa, at vulputate orci semper vitae. Ut viverra elementum justo, a volutpat dolor volutpat eget. Donec rutrum velit non tincidunt ullamcorper. Vestibulum quis nunc vel dolor semper egestas id.
        </p>
    </div>
</div>