@page
@model Blomsterbinderiet.Pages.Basket.BasketModel
@{
}
<h1>Kurv</h1>
<table class="table">
    <thead>
        <tr>
            <th>Produkt navn</th>
            <th>Pris per genstand</th>
            <th>Mængde</th>
            <th>Sum</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Models.OrderLine item in Model.OrderLines)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@item.Amount</td>
                <td>@(item.Product.Price * item.Amount)</td>
            </tr>
        }
    </tbody>
</table>