@page
@model Blomsterbinderiet.Pages.Basket.ConfirmationModel
@{
}

<div class="container p-4">
    <div class="col-md-12">
        <div class="card mb-3 p-3" id="titlecard">
            <h1>Ordren er modtaget</h1>
        </div>
</div>